@tailwind base;
@tailwind components;
@tailwind utilities;

.animatish{
  animation: fadeInDown;
  animation-duration: 1s;
}
  

.homeContent{
  animation: fadeInUp;
  animation-duration: 1s;
}

.text-container{
  flex:1
}


.image{
  display: block;
  max-width:450px;
  max-height:250px;
  width: auto;
  height: auto;
  background-color: transparent;
}
